{% extends 'base.html' %}

{% block title %} BOUNTY:confirm {% endblock %}

{% block head %}

{% endblock %}


{% block content %}
<header>

</header>

<body>
    <div>
        <span>Confirm Bounty</span>
    </div>
    <div>
        confirm method
    </div>
    <div>
        <div class="">
            <span>Quick Review</span>
        </div>

        <div class="">
            <form action="{% url 'bounty:confirm_del' %}">
                <div>
                    <span>How would you rate your job</span>
                </div>
                <div>
                    score
                </div>
                <div>
                    <span>Any extra comment?</br>
                    (Don't worry they are anonymous)</span>
                    <input type="text" name="comment">
                </div>
                <div>
                    <a href="{% url 'bounty:main' %}"><input type="button"></a>
                </div>
            </form>
        </div>

    <div>
        <a href=""></a><input type="button" value="confirm">
    </div>
</body>


{% endblock %}


{% block script %}

{% endblock %}