{% extends 'base.html' %}

{% block title %} BOUNTY {% endblock %}

{% block head %}

{% endblock %}


{% block content %}
<header>
    <div id="nav" class="">

    </div>
</header>

<body>
    <div class="">
        <div class="jumbotron">
            <div class="">
                <!--<img src="" alt="">-->
            </div>
            <a href="{% url 'bounty:ongoing' %}"><div><span>Offer Bounty</span></div></a>
        </div>

        <div class="">
            <div>
                <!--<img src="" alt="">-->
            </div>
            <a href="{% url 'bounty:bounty_board' %}"><div><span>Bounty Hunt</span></div></a>
        </div>
    </div>
</body>


{% endblock %}


{% block script %}

{% endblock %}