{% extends 'base.html' %}

{% block title %} BOUNTY {% endblock %}

{% block head %}

{% endblock %}


{% block content %}




<div class="container-fluid mx-auto text-center" style="color:#88d8b0; background-color: #ffeead; height:100%">
    <div id="contentWrapper" style="height: inherit;">
        <div id="mainCol" class="h-100 col-xs-10 col-xs-offset-1"
             style=" height:inherit;display:table">
            <div style="display: table-cell;vertical-align: middle">
                <div class="row">
                    <div class="">
                        <!--<img src="" alt="">-->
                    </div>
                    <a href="{% url 'bounty:bounty_board_cus' %}" style="color:inherit;text-decoration: none">
                        <h1><span>Offer Bounty</span></h1>
                    </a>
                </div>

                <div class="row">
                    <div>
                        <!--<img src="" alt="">-->
                    </div>
                    <a href="{% url 'bounty:bounty_board_del' %}"style="color:inherit;text-decoration: none">
                        <h1><span>Bounty Hunt</span></h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}

{% endblock %}