{% extends 'base.html' %}

{% block title %} BOUNTY:login {% endblock %}
<link rel="stylesheet" href="">
{% block head %}

{% endblock %}


{% block content %}

<div class="">
    <!--<img src="" alt="">-->
</div>

<div class="">
    <form action="{% url 'accounts:login' %}" method="post" id="login_form">
        {% csrf_token %}
        <div id="login_container">
            <div>
                <label for="">User ID</label>
                <input type="text" name="username" value="">
            </div>
            <div>
                <label for="">password</label>
                <input type="password" name="password" value="">
            </div>
        </div>
        <div id="login_button_container">
            <input type="submit" name="login" value="login">
            <a href="{% url 'accounts:register_page' %}"><input type="button" name="" value="register"></a>
        </div>
    </form>
</div>

{% endblock %}


{% block script %}
<script>
    $(document).ready(function() {
        $("#login_form").submit(function(e){
            e.preventDefault();
            serializedData = $("#login_form").serialize();
            $.ajax({
                type: 'POST',
                url: "{% url 'accounts:login' %}",
                data: serializedData,
                dataType: 'json',
                success: function(response) {
                    if(response.status == "success"){
                        window.location="{% url 'bounty:main' %}"
                    }
                    else{
                        alert(response.message)
                    }
                }
            });
        });
    });
</script>
{% endblock %}