{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} BOUNTY:login {% endblock %}
<link rel="stylesheet" href="">
{% block head %}

{% endblock %}


{% block content %}

<div class="container-fluid text-center mx-auto" style="height:inherit;color:#88d8b0; background-color: #ffeead">
    <div id="loginWrapper" class="container" style="height: inherit;display: table;">
        <div style="display: table-cell;vertical-align: middle">
            <div class="">
                <img src="{% static 'img/Logo.png' %}" alt="My image"/>
            </div>
            <form action="{% url 'accounts:login' %}" method="post" id="login_form">
                {% csrf_token %}
                <div id="login_container">
                    <div>
                        <label for="">User ID</label>
                        <input type="text" name="username" value="">
                    </div>
                    <div>
                        <label for="">password</label>
                        <input type="password" name="password" value="">
                    </div>
                </div>
                <div id="login_button_container">
                    <input type="submit" name="login" value="login"
                           style="color:navajowhite;text-decoration: none;background-color: #88d8b0;border:none;">
                    <a href="{% url 'accounts:register_page' %}"><input type="button" name="" value="register"
                                                                        style="color:navajowhite;text-decoration: none;background-color: #88d8b0;border: none"></a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script>
    $(document).ready(function () {
        $("#login_form").submit(function (e) {
            e.preventDefault();
            serializedData = $("#login_form").serialize();
            $.ajax({
                type: 'POST',
                url: "{% url 'accounts:login' %}",
                data: serializedData,
                dataType: 'json',
                success: function (response) {
                    if (response.status == "success") {
                        window.location = "{% url 'bounty:main' %}"
                    }
                    else {
                        alert(response.message)
                    }
                }
            });
        });
    });
</script>
{% endblock %}