{% extends 'base.html' %}

{% block title %} BOUNTY:register {% endblock %}

{% block head %}

{% endblock %}


{% block content %}

<div class="">
    <!--<img src="" alt="">-->
</div>

<div class="">
    <form action="{% url 'accounts:register' %}" method="post" id="register_form">
        {% csrf_token %}
        <div class="">
            <label>
                User ID
            </label>
            <input type="text" required autocomplete="off" name="username" id="username">
        </div>

        <div class="">
            <label>
                email
            </label>
            <input type="email" required autocomplete="off" name="email" id="email">
        </div>

        <div class="">
            <label>
                password
            </label>
            <input type="password" required autocomplete="off" name="password1" id="password1">
        </div>

        <div class="">
            <label>
                password check
            </label>
            <input type="password" required autocomplete="off" name="password2" id="password2">
        </div>

        <div class="">
            <button type="submit">sign up</button>
        </div>

    </form>
</div>

{% endblock %}


{% block script %}
<script>
$(document).ready(function() {
            $("#register_form").submit(function(e){
                e.preventDefault();
                serializedData = $("#register_form").serialize();
                $.ajax({
                    type: 'POST',
                    url: "{% url 'accounts:register' %}",
                    data: serializedData,
                    dataType: 'json',
                    success: function(response) {
                        if(response.status == "success"){
                            alert(response.message);
                            window.location="{% url 'accounts:login_page' %}";
                        }
                        else{
                            alert(response.message)
                        }
                    }
                });
            });
            /* end of script */
        });
</script>
{% endblock %}