{% extends 'base.html' %}

{% block title %} BOUNTY {% endblock %}

{% block head %}

{% endblock %}


{% block content %}
<header>
    <div id="nav" class="">

    </div>
</header>

<body>
<div>
    <div>
        <span>Bounty Board</span>
    </div>
    <div>
        map
    </div>
    <div id="Bounty_box">
        {% for quest in quest_list %}
        <a href="{% url 'bounty:detail_del' quest.id %}">
            <div class="">
                <div class="">
                    <section>{{ quest.places }} --> {{ quest.destination }}</section>
                </div>
                <div class="">
                    <label>cost</label>
                    <section>${{ quest.cost }}</section>
                    <label>reward</label>
                    <section>${{ quest.reward }}</section>
                </div>
                <div>
                    <label>customer</label>
                    <section>{{ quest.customer }}</section>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'bounty:main' %}"><input type="button" value="Back"></a>
    </div>
</div>
</body>


{% endblock %}


{% block script %}

{% endblock %}