{% extends 'base.html' %}

{% block title %} BOUNTY:detail {% endblock %}

{% block head %}

{% endblock %}


{% block content %}
<header>

</header>

<body>
<div>
    <div>
        <span>Bounty</span>
    </div>
    <div id="request_content_box">
        <div>
            <label>contents</label>
            <section>{{ quest.contents }}</section>
            <label>customer</label>
            <section>{{ quest.customer }}</section>
        </div>
        <div>
            <label>places to go</label>
            <section>{{ quest.places }}</section>
        </div>
        <div>
            <label>destination</label>
            <section>{{ quest.destination }}</section>
        </div>
        <div>
            <label>comments</label>
            <section>{{ quest.comments }}</section>
        </div>
        <div>
            map will be available
        </div>
        <div>
            <label>cost</label>
            <section>{{ quest.cost }}</section>
        </div>
        <div>
            <label>reward</label>
            <section>{{ quest.reward }}</section>
        </div>
    </div>
    <form action="{% url 'bounty:accept' quest.id %}" id="accept_button">
        {% csrf_token %}
        <div id="accept_button_box">
            <input type="button" value="Accept" name="accept">
        </div>
    </form>
    <div>
        <a href="{% url 'bounty:bounty_board_del' %}"><input type="button" value="Back" name="back"></a>
    </div>
</div>
</body>

{% endblock %}


{% block script %}

<script>
    $(document).ready(function() {
        $("#accept_button").click(function(e){
            e.preventDefault();
            serializedData = $("#accept_button").serialize();
            $.ajax({
                type: 'POST',
                url: "{% url 'bounty:accept' quest.id %}",
                data: serializedData,
                dataType: 'json',
                success: function(response) {
                    if(response.status == "success"){
                        alert(response.message)
                        window.location="{% url 'bounty:progress_quest_del' quest.id %}"
                    }
                    else{
                        alert(response.message)
                        window.location="{% url 'bounty:bounty_board_del' %}"
                    }
                }
            });
        });
    });
</script>
{% endblock %}