{% extends 'base.html' %}

{% block title %} BOUNTY:progress {% endblock %}

{% block head %}

{% endblock %}


{% block content %}
<header>

</header>

<body>
<div>
    <div>
        <span>Bounty in Progress</span>
    </div>
    <div id="request_content_box">
        <div class="">
            <section>Requested by</section>
            <section>{{ quest.customer }}</section>
        </div>
        <div class="">
            <section>Fulfilled by</section>
            <section>{{ quest.deliver }}</section>
        </div>
        <div class="">
            <section>Store</section>
            <section>{{ quest.places }}</section>
        </div>
        <div>
            <section>Contents</section>
            <section>{{ quest.contents }}</section>
        </div>
        <div class="">
            <section>Total[reward-cost]</section>
            <section>{{ quest.total }}</section>
        </div>
        <div class="">
            <section>map</section>
            <section>will be available</section>
        </div>
        <div>
            <div class="">
                <section>Arriving In</section>
                <section>will be available</section>
            </div>
            <div class="">
                <section>ETA</section>
                <section>will be available</section>
            </div>
        </div>
    </div>
    <div id="button_box" class="">
        <input type="button" value="call">
        <input type="button" value="message">
        <input type="button" value="X">
        <a href="{% url 'bounty:confirm_del' quest.id %}"><input type="button" value="O"></a>
        <a href="{% url 'bounty:bounty_board_del' %}"><input type="button" value="back"></a>
    </div>
</div>
</body>

{% endblock %}


{% block script %}

{% endblock %}